--- layout: default ---

<div class="home">

  <section class="sobre">
    <h2>O que é esse site?</h2>
    <p>Nossa proposta é construir uma rede virtual colaborativa de Coleções Zoológicas Brasileiras. Esse site pretende agregar e divulgar informações, boas práticas e protocolos que se relacionem à Informática para a Biodiversidade, Curadoria e Gerenciamento
      de Coleções Biológicas, Digitalização/Informatização de exemplares biológicos e pesquisa em Sistemática Zoológica.</p>
    <p>Percebemos a necessidade de aumentar a comunicação dentro da comunidade associada às coleções zoológicas, incluindo curadores, técnicos, pesquisadores, estudantes, voluntários e outros interessados. Apesar de existirem diversas referências sobre o
      assunto em inglês, há uma grande necessidade de adaptar os protocolos à realidade das coleções brasileiras, além de que a língua inglesa não é sempre acessível a todos.</p>
    <p>Embora fóruns online e listas de e-mail tenham permitido uma troca relativamente rápida de informações e experiências, e algumas técnicas tenham sido publicadas esparsamente como artigos em revistas científicas, um repositório como esse permite organizar
      recursos e apresentá-los (dando-se o devido crédito) de modo estável, intuitivo, e seguindo preceitos de conhecimento livre e colaborativo. Nossa intenção é dar ao conteúdo nacional sobre Bioinformática e coleções biológicas visibilidae suficiente
      para que se torne referência numa área do conhecimento onde faltam especialistas regionais.</p>
    <p>A ideia de promover esse repositório foi mencionada pela primeira vez durante o fórum do Encontro para Integração das Coleções Zoológicas no XXXII Congresso Brasileiro de Zoologia (2018) e a proposta apresentada no XXIII Congresso Brasileiro de Zoologia
      (2020) por Ana Dal Molin (UFRN), Elaine Soares (UNILA) e Laura Rocha Prado (ASU, EUA).</p>
    <h2>O que é Informática para a Biodiversidade?</h2>
    <p>A expressão "Informática para a Biodiversidade" ("Biodiversity Informatics") se refere à aplicação de técnicas de informática para aprimorar a gestão, apresentação, descoberta, exploração e análise da informação sobre biodiversidade. Baseia-se, essencialmente,
      em informações taxonômicas, biogeográficas ou ecológicas armazenadas em formato digital, e que, com a aplicação de técnicas modernas de computação, pode tanto gerar novas formas de visualização e análise de informações existentes, quanto gerar modelos
      preditivos.
    </p>
  </section>
  <section class="conteudo">
    <h2>Conteúdo</h2>
    Galeria com quadrados dedicados a cada assunto a serem abordados
  </section>
  <section class="contribuir">
    <h2>Como contribuir</h2>
    <p>Ideias, tutoriais ou mesmo histórias de "gambiarras" que podem ajudar a comunidade?</p>
    <button>Envie Seu Conteúdo</button>
  </section>
  <section>
    <div class="row pack">

      {% for post in paginator.posts %}
      <div class="col-md-4 card">
        <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">
          <div class="panel panel-default">

            {% if post.img %}
            <img width="100%" src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}"> {% else %}
            <img width="100%" src="{{site.baseurl}}/images/webjeda-logo-big.jpg" alt="{{site.title}}"> {% endif %}

            <div class="panel-body">
              <!-- <h3 class="panel-title pull-left">{{ post.title | truncate: 25 }}</h3><span class="post-meta pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span> -->
              <h3 class="panel-title pull-left">{{ post.title | truncate: 25 }}</h3><span class="post-meta pull-right"></span>
            </div>

            <div class="panel-body"><small>
                    {{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}</small>
            </div>
          </div>
        </a>
      </div>

      {% endfor %}

    </div>

    <div class="row">
      <div class="col-md-4"> </div>
      <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
          {% else %}
          <li><span>&laquo; Prev</span></li>
          {% endif %} {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %}
          <li class="active"><span><em>{{ page }}</em></span></li>
          {% elsif page == 1 %}
          <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
          {% else %}
          <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
          {% endif %} {% endfor %} {% if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
          {% else %}
          <li><span>Next &raquo;</span></li>
          {% endif %}
        </ul>
        {% endif %}

      </div>
      <div class="col-md-4"> </div>
    </div>
  </section>

</div>