<script type="text/javascript">
  var submitted = false;
</script>

<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location=" https://biodivinfo.github.io/sobre ";}"></iframe>

<form class="form" action="https://docs.google.com/forms/u/2/d/e/1FAIpQLScE3wtKjNC-k9QfYtAjhSZB1lSuvhxPPysmOuktqG9aw4FNDg/formResponse">

  <label>Nome Completo</label>
  <input name="entry.1120708310" type="text" />

  <label>Email</label>
  <input name="entry.245839524" type="email" required />

  <label>Mensagem</label>
  <textarea name="entry.1158159828" type="" required></textarea>

  <input type="submit" value="Send" />

</form>