<script type="text/javascript">
  var submitted = false;
</script>

<form class="form" action="https://docs.google.com/forms/u/2/d/e/1FAIpQLScE3wtKjNC-k9QfYtAjhSZB1lSuvhxPPysmOuktqG9aw4FNDg/formResponse">
  <div class="form-group">
    <label>Email</label>
    <input type="email" name="entry.245839524" class="form-control" required placeholder="Seu endereço de e-mail" />
  </div>
  <div class="form-group">
    <label>Nome Completo</label>
    <input type="text" name="entry.1120708310" class="form-control" />
  </div>
  <div class="form-group">
    <label>Mensagem</label>
    <textarea name="entry.1158159828" class="form-control" rows="6" required></textarea>
  </div>
  <input type="submit" class="btn btn-primary" value="Enviar" />
</form>